{% if section.settings.show_collection_image and collection.image %}
	<section class="collection-header hero is-dark" style="background-image: url({{ collection.image | img_url: '1024x300', crop: 'top' }});">
      <div class="hero-body">
        <div class="container has-text-centered">
        	<h1 class="title">{{ collection.title }}</h1>
			    {% if collection.description != blank %}<p class="subtitle">{{ collection.description }}</p>{% endif %}
        </div>
      </div>
    </section>
{% else %}
	<section class="collection-header hero is-dark">
      <div class="hero-body">
        <div class="container has-text-centered">
        	<h1 class="title">{{ collection.title }}</h1>
			    {% if collection.description != blank %}<p class="subtitle">{{ collection.description }}</p>{% endif %}
        </div>
      </div>
    </section>
{% endif %}