<div class="pagination section is-paddingless">
  <div class="container">
    <div class="tabs is-fullwidth">
      <ul>
        <li class="is-one-third has-text-centered">
            {% unless paginate.previous.is_link %}
              <p class="has-text-grey-light">
                {{ 'general.pagination.previous' | t }}
              </p>
            {% else %}
              <a href="{{ paginate.previous.url }}">
                {{ 'general.pagination.previous' | t }}
              </a>
            {% endunless %}
        </li>
        <li class="is-one-third has-text-centered">
          <div class="pagination-count">
            {{ 'general.pagination.current_page' | t: current: paginate.current_page, total: paginate.pages }}
          </div>
        </li>
      <li class="is-one-third has-text-centered">
            {% unless paginate.next.is_link %}
              <p class="has-text-grey-light">
                {{ 'general.pagination.next' | t }}
              </p>
            {% else %}
              <a href="{{ paginate.next.url }}">
                {{ 'general.pagination.next' | t }}
              </a>
            {% endunless %}
        </li>
      </ul>
    </div>
  </div>
</div>