<div class="pagination-snippet container">
  <nav class="level">
      <div class="level-item">
        {% unless paginate.previous.is_link %}
          <p>
            <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
          </p>
        {% else %}
          <p>
            <a href="{{ paginate.previous.url }}">
              <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
            </a>
          </p>
        {% endunless %}
        <div class="pagination-count">
          {{ 'general.pagination.current_page' | t: current: paginate.current_page, total: paginate.pages }}
        </div>
        {% unless paginate.next.is_link %}
          <p>
            <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
          </p>
        {% else %}
          <a href="{{ paginate.next.url }}">
            <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
          </a>
        {% endunless %}
      </div>
  </nav>
</div>