<footer class="footer is-size-7">
	<div class="container">
		<div class="columns footer-blocks">
			{% for block in section.blocks %}

				{% case block.settings.block_width %}
				{% when '2' %}
					{%- assign column_width = 'is-half is-full-mobile has-text-centered-mobile' -%}
				{% when '3' %}
					{%- assign column_width = 'is-one-third-tablet is-full-mobile has-text-centered-mobile' -%}
				{% when '4' %}
					{%- assign column_width = 'is-one-quarter-tablet is-full-mobile has-text-centered-mobile' -%}
				{% when '5' %}
					{%- assign column_width = 'is-one-fifth-tablet is-full-mobile has-text-centered-mobile' -%}
				{% endcase %}

				<div class="column {{ column_width }}" {{ block.shopify_attributes }}>
				{% case block.type %}
					{% when 'menu' %}
						{%- assign footer_linklist = block.settings.footer_linklist -%}
						{% if linklists[footer_linklist].links.size > 0 %}
							<ul>
								{% if section.settings.show_menu_titles %}
									<li class="block-title">{{linklists[footer_linklist].title}}</li>
								{% endif %}
								{% for link in linklists[footer_linklist].links %}
									<li><a href="{{ link.url }}">{{ link.title }}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
					{% when 'text' %}
						<div class="text-block">
							<p class="block-title">{{block.settings.text_title}}</p>
							{{block.settings.richtext}}
						</div>
					{% when 'spacer' %}
						<div class="spacer-block"></div>
					{% when 'logo' %}
						{% capture image_size %}{{ block.settings.logo_max_width }}x{% endcapture %}
						<div class="logo-block">
							<img src="{{ block.settings.footer_logo | img_url: image_size }}"
										srcset="{{ block.settings.footer_logo | img_url: image_size }} 1x, {{ block.settings.footer_logo | img_url: image_size, scale: 2 }} 2x"
										alt="{{ block.settings.footer_logo.alt | default: shop.name }}"
										itemprop="logo"/>
						</div>
					{% when 'newsletter' %}
						<div class="newsletter-block">
							{% if section.settings.show_menu_titles %}
								<p class="block-title ">{{ block.settings.footer_newsletter_title }}</p>
							{% endif %}
							<form action="{{ settings.mailing_list_action_url }}" method="post" name="{% if block.settings.mailing_list_platform == 'mailchimp' %}mc-embedded-subscribe-form{% endif %}" class="mailing-list-signup" target="_blank">
									<div class="field has-addons">
										<div class="control{% if block.settings.footer_newsletter_wide %} is-expanded{% endif %}">
											{% if block.settings.mailing_list_platform == 'mailchimp' %}
												<input class="input is-small email" name="EMAIL" type="email" placeholder="{{ block.settings.footer_newsletter_placeholder }}" value="">
											{% endif %}
											{% if block.settings.mailing_list_platform == 'campaign_monitor' %}
												<input id="fieldEmail" class="input is-small email" name="{{ settings.campaign_monitor_name }}" type="email" placeholder="{{ block.settings.footer_newsletter_placeholder }}" required />
											{% endif %}
										</div>
										<div class="control">
											<input class="button is-primary is-small submit" name="subscribe" type="submit" value="{{ block.settings.footer_newsletter_button_text }}">
										</div>
									</div>
							</form>
						</div>
				{% endcase %}
				</div>
			{% endfor %}
		</div>

		<div class="{% unless section.settings.center_icons %}level {% endunless %}footer-bottom">
			<div class="{% if section.settings.center_icons %}has-text-centered{% else %}level-left{% endif %}">
				<span class="footer-copyright">{{ shop.name | link_to: '/' }} &copy; {{ 'now' | date: "%Y" }}</span>
				{%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
			</div>
			<div class="{% if section.settings.center_icons %}has-text-centered{% else %}level-right{% endif %}">
				<ul class="social-icons">
					{% for social in social_accounts %}
						{%- assign social_handle = social | handleize -%}
						{% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
						{% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
						{% if settings[social_link] != blank %}
							<li>
								<a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
									{% include social_icon %}
									<span class="is-hidden">{{ social }}</span>
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>

	{% if section.settings.show_payment_icons %}
		{% unless shop.enabled_payment_types == empty %}
			{%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}
			<span class="is-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
			<ul class="payment-icons">
				{% for type in shop.enabled_payment_types %}
					{% if payment_icons_available contains type %}
						<li>
							{%- assign icon_name = type | prepend: 'icon-' -%}
							{% include icon_name %}
							<span class="is-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endunless %}
	{% endif %}


	</div>
</footer>

{% schema %}
	{
		"name": "Footer",
		"settings": [
			{
				"type": "checkbox",
				"id": "show_payment_icons",
				"label": "Show payment icons",
				"default": false
			},
			{
				"type": "checkbox",
				"id": "center_icons",
				"label": "Center align icons",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "show_menu_titles",
				"label": "Show block titles",
				"default": false
			}
		],
		"max_blocks": 5,
		"blocks": [
			{
				"type": "text",
				"name": "Text",
				"settings": [
					{
						"type": "text",
						"id": "text_title",
						"label": "Title"
					},
					{
						"type": "richtext",
						"id": "richtext",
						"label": "Text"
					},
					{
						"type": "select",
						"id": "block_width",
						"label": "Block width",
						"default": "",
						"options": [
								{
									"value": "",
									"label": "Auto"
								},
								{
									"value": "2",
									"label": "One half"
								},
								{
									"value": "3",
									"label": "One third"
								},
								{
									"value": "4",
									"label": "One quarter"
								},
								{
									"value": "5",
									"label": "One fifth"
								}
						]
					}
				]
			},
			{
				"type": "menu",
				"name": "Menu",
				"limit": 3,
				"settings": [
					 {
						"type": "link_list",
						"id": "footer_linklist",
						"label": "Menu",
						"default": "footer"
					},
					{
						"type": "select",
						"id": "block_width",
						"label": "Block width",
						"default": "",
						"options": [
								{
									"value": "",
									"label": "Auto"
								},
								{
									"value": "2",
									"label": "One half"
								},
								{
									"value": "3",
									"label": "One third"
								},
								{
									"value": "4",
									"label": "One quarter"
								},
								{
									"value": "5",
									"label": "One fifth"
								}
						]
					}
				]
			},
			{
				"type": "spacer",
				"name": "Spacer",
				"limit": 2,
				"settings": [
					{
						"type": "select",
						"id": "block_width",
						"label": "Block width",
						"default": "",
						"options": [
								{
									"value": "",
									"label": "Auto"
								},
								{
									"value": "2",
									"label": "One half"
								},
								{
									"value": "3",
									"label": "One third"
								},
								{
									"value": "4",
									"label": "One quarter"
								},
								{
									"value": "5",
									"label": "One fifth"
								}
						]
					}
				]
			},
			{
				"type": "logo",
				"name": "Logo",
				"limit": 1,
				"settings": [
					 {
						"type": "image_picker",
						"id": "footer_logo",
						"label": "Logo"
					},
					{
						"type": "select",
						"id": "block_width",
						"label": "Block width",
						"default": "",
						"options": [
								{
									"value": "",
									"label": "Auto"
								},
								{
									"value": "2",
									"label": "One half"
								},
								{
									"value": "3",
									"label": "One third"
								},
								{
									"value": "4",
									"label": "One quarter"
								},
								{
									"value": "5",
									"label": "One fifth"
								}
						]
					},
					{
						"type": "range",
						"id": "logo_max_width",
						"min": 50,
						"max": 450,
						"step": 10,
						"unit": "px",
						"label": "Custom logo width",
						"default": 250
					}
				]
			},
			{
				"type": "newsletter",
				"name": "Newsletter",
				"limit": 1,
				"settings": [
					 {
						"type": "text",
						"id": "footer_newsletter_title",
						"label": "Title"
					},
					{
						"type": "text",
						"id": "footer_newsletter_placeholder",
						"label": "Input placeholder",
						"info": "Displayed when field is empty",
						"default": "Email address"
					},
					{
						"type": "text",
						"id": "footer_newsletter_button_text",
						"label": "Button text",
						"default": "Sign up"
					},
					{
						"type": "select",
						"id": "mailing_list_platform",
						"label": "Mailing list platform",
						"default": "mailchimp",
						"options": [
								{
									"value": "mailchimp",
									"label": "Mailchimp"
								},
								{
									"value": "campaign_monitor",
									"label": "Campaign Monitor"
								}
						]
					},
					{
						"type": "select",
						"id": "block_width",
						"label": "Block width",
						"default": "",
						"options": [
								{
									"value": "",
									"label": "Auto"
								},
								{
									"value": "2",
									"label": "One half"
								},
								{
									"value": "3",
									"label": "One third"
								},
								{
									"value": "4",
									"label": "One quarter"
								},
								{
									"value": "5",
									"label": "One fifth"
								}
						]
					},
					{
						"type": "checkbox",
						"id": "footer_newsletter_wide",
						"label": "Expand form width",
						"default": false
					}
				]
			}
		]
	}
{% endschema %}

<style>

	/* background color */
	.footer {
		background-color:{{settings.color_footer_bg | color_to_rgb}};
	}

	/* text block colour */
	.text-block {
		color:{{settings.color_footer_text | color_to_rgb }};
	}
	.text-block a {
		text-decoration:underline;
		color:{{settings.color_footer_text | color_to_rgb }};
	}
	.text-block a:hover {
		color:{{settings.color_footer_text | color_darken: 30 | color_to_rgb }};
	}
	.text-block .text-title {
		margin:0 0 1em 0;
		color:{{settings.color_footer_text_label | color_to_rgb }};
	}

	/* block label colour */
	.block-title {
		color:{{settings.color_footer_text_label | color_to_rgb }};
	}

	/* menu link colour */
	a {
		color:{{settings.color_footer_primary | color_to_rgb }};
	}
	a:hover {
		color:{{settings.color_footer_primary | color_darken: 30 | color_to_rgb }};
	}

	/* bottom text color (copyright and extra menu) */
	li {
		color:{{settings.color_footer_text_bottom | color_to_rgb }};
	}
	.footer-bottom,
	.footer-bottom a {
		color:{{settings.color_footer_text_bottom | color_to_rgb }};
	}
	.footer-bottom a:hover {
		color:{{settings.color_footer_text_bottom | color_to_rgb }};
		text-decoration:underline;
	}


</style>
