<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section" class="header-section">

    <header class="navbar is-fixed-top">

      <h1 class="navbar-brand" itemscope itemtype="http://schema.org/Organization">
        <a href="/" itemprop="url" class="navbar-item site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
      </h1>

      {% comment %} consider separate file here 
      {% if shop.customer_accounts_enabled %}
          <ul>
            {% if customer %}
              <li>
                {% if customer.first_name != blank %}
                  {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                {% else %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
              </li>
              <li>
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
              </li>
            {% else %}
              <li>
                {{ 'layout.customer.log_in' | t | customer_login_link }}
              </li>
              <li>
                {{ 'layout.customer.create_account' | t | customer_register_link }}
              </li>
            {% endif %}
          </ul>
      {% endif %}
      {% endcomment %}

      <nav class="navbar-menu" role="navigation">

          <div class="navbar-start">
            {% for link in linklists[section.settings.main_linklist].links %}
              {%- assign child_list_handle = link.title | handleize -%}
              {% if menus[child_list_handle].links != blank %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a href="{{ link.url }}" class="navbar-link">
                    {{ link.title }}
                </a>
                <div class="navbar-dropdown">
                  {% for childlink in menus[child_list_handle].links %}
                    <a href="{{ childlink.url }}" class="navbar-item{% if childlink.active %} is-active{% endif %}">{{ childlink.title | escape }}</a>
                  {% endfor %}
                </div>
              </div>
              {% else %}
                <a class="navbar-item{% if link.active %} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
      
        <div class="navbar-end">
          <a href="/cart" class="navbar-item">
            {{ 'layout.cart.title' | t }}
            ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
          </a>
          <a href="#" class="navbar-item">
            <span class="icon is-medium">
              <i class="mdi mdi-24px mdi-cart"></i>
            </span>
          </a>
          <form class="navbar-item is-hidden" action="/search" method="get" role="search">
            <label for="Search" class="label-hidden">
              {{ 'general.search.placeholder' | t }}
            </label>
            <input type="search"
                  name="q"
                  id="Search"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder' | t }}">
            <button type="submit" class="btn">
              {% include 'icon-search' %}
              <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </form>
        </div>
      </nav>

  </header>

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
